streamlit
openai
langchain
langchain-core
langchain-openai
langchain-community
langgraph
langfuse==2.36.0
qdrant-client
mysql-connector-python
python-dotenv
pydantic
pydantic-settings
numpy
pandas
pytest
typing-extensions