streamlit
openai
langchain
git add requirements.txt
git commit -m "fix: clean requirements.txt"
git pushlangchain-core
langchain-openai
langgraph
langfuse
qdrant-client
mysql-connector-python
python-dotenv
pydantic
pydantic-settings
numpy
pandas
pytest
typing-extensions